**/.env
**/.env.development
**/.env.production
**/*.log
**/node_modules
**/dist
**/downloads
**/screenshots
**/yarn-error.log
**/error.log

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/

# OSX
**/.DS_Store

# Temp
./src/contracts
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/Mavryk Frontend.iml
/.idea/modules.xml
/.idea/vcs.xml
